body{
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(70,252,100,1) 100%);  margin: 10%;
  

}

/* Aqui en navbar de abajo  */
.menun{
 background:black  ;
   bottom: 0 !important; 
    position: fixed;
    width: 100%;
    display: flex;
    border-radius: 15px;
    text-align: center;
    
    justify-content: space-between;
    
    height: 5rem;
}
 .menun li  {
    text-decoration: none;
     width: 100%;
     list-style: none;
    
}
.vol_car{
    padding: 15%;
    
}
.card_cal{
    margin: 15%;
    background-color: aliceblue;
    flex-direction: column;
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.card_cal{
    width: 80%;

}
.card_body{
margin: 15%;
flex-direction: column;
display: flex;
text-align: center;
justify-content: space-between;  
}
.card_body a{
    margin: 15px;
}
.infotable{
    color: aliceblue;
    padding-top: 15%;
    margin: 5%;
    border-radius: 10px;
}
img{
    width: 60px;
}


td{
    padding: 10px;
    background-color:rgb(143, 153, 37) ;
    border: 5px;
    border-color: rgb(28, 212, 212);
}
th{
    background-color: black;
}
a {
font-size: 2rem;



}
.yellow{
    background-color: rgba(243, 251, 0, 0.761);
    color: rgba(243, 251, 0, 0.761);
    width: 100%;
}
.upcoming{
    border-radius: 15px;
    color: antiquewhite;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgb(212, 26, 178) 0%, rgb(3, 43, 101) 100%);  margin: 10%;
    padding-bottom: 15%;
    padding-top: 15%;
    padding-left: 10%;
}

.pageheader{
    text-align: center;
    align-items: center;
    color: aliceblue;
    background-color:black ;
}
.bodycontent{
    
}